
$color_text: #000;
$color_tags: #fff;
$color_radio_attribute: #000;
$color_border: #CCCCCC;
$border-radius: 3px;

$color_text_radio_attribute: #888888;
$color_text_radio_attribute_active: #F17127;

$color_border_radio_attribute: #888888;
$color_border_radio_attribute_active: #F17127;

$color_favorite_icon: #888888;
$color_price: #7AB11B;
$color_price_amout: #7AB11B;
$color_price_cash_discount: #7AB11B;
$color_price_months: #7AB11B;
$color_price_sale: #888888;

$background_color_off: #793030;
$background_color_new: #F17127;
$background_color_freight_free: #906378;
