@import 'vars.scss';
@import 'base/global';
@import 'modules/m-grid';
@import 'modules/m-grid-helpers';

.theme {
  @import 'layout/global';
  @import 'modules/global';
  @import 'states/global';
  @import 'themes/global';
}


html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
}

.colors-aproach {
  height: 100px;
}

.colors-info {
  border-radius: 4px;
  border: 1px solid #eee;
  width: 100%;
  display: flex;
  padding: 8px;
  flex-wrap: wrap;

  code {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 4px;
    font-weight: bold;
    color: #e83e8c;
    border-radius: 3px;
    background: rgba(238, 238, 238, 0.41);
    margin-bottom: 1px;
  }
}

//Variaveis de cores.

//Black..
.base-color {
  color: $base-color;
  background: $base-color;
}
.base-color-dark {
  color: $base-color-dark;
  background: $base-color-dark;
}
.base-color-light {
  color: $base-color-light;
  background: $base-color-light;
}
.base-color-extra-light {
  color: $base-color-extra-light;
  background: $base-color-extra-light;
}

//Azul..
.primary-color {
  color: $primary-color;
  background: $primary-color;
}
.primary-color-dark {
  color: $primary-color-dark;
  background: $primary-color-dark;
}
.primary-color-light {
  color: $primary-color-light;
  background: $primary-color-light;
}
.primary-color-extra-light {
  color: $primary-color-extra-light;
  background: $primary-color-extra-light;
}

//Roxo.
.secondary-color {
  color: $secondary-color;
  background: $secondary-color;
}
.secondary-color-dark {
  color: $secondary-color-dark;
  background: $secondary-color-dark;
}
.secondary-color-light {
  color: $secondary-color-light;
  background: $secondary-color-light;
}
.secondary-color-extra-light {
  color: $secondary-color-extra-light;
  background: $secondary-color-extra-light;
}

.link-color {
  color: $link-color;
  background: $link-color;
}
.link-color-hover {
  color: $link-color-hover;
  background: $link-color-hover;
}

.link-color-dark {
  color: $link-color-dark;
  background: $link-color-dark;
}
.link-color-light {
  color: $link-color-light;
  background: $link-color-light;
}
.link-color-extra-light {
  color: $link-color-extra-light;
  background: $link-color-extra-light;
}

$inactive-color: #b5afaf;
$inactive-color-light: #eee;
$inactive-color-dark: #ccc;

$destak-color: #7AB11B;
$destak-color-ligth: #BEF461;
$destak-color-dark: #2B4105;

$border-color: #eee;

$error: red;
$success: green;
$waring: yellow;
