 .input-group {
   @extend .container_general;
   @extend .align-items-center;
   @extend .align-items-stretch;

   i {
     width: 40px;
     text-align: center;
     flex-direction: column;
     justify-content: center;
     line-height: 34px;
     font-size: 20px;
     margin-right: -1px;

   }
 }

 form {
   label {
     margin-bottom: $space-sm;
   }

   input[type="text"],
   input[type="email"],
   input[type="search"],
   input[type="tel"],
   input[type="password"],
   input[type="number"],
   textarea,
   select {
     background: #fff;
     border: 1px solid $base-color;
     padding: $space-unit;

     &::-webkit-outer-spin-button,
     &::-webkit-inner-spin-button {
       -webkit-appearance: none;
       margin: 0;

     }
   }
 }
