 footer {
   background: $base-color;
   color: #fff;

   .title {
     font-size: $font-size-h4;
     margin-bottom: $space-unit;
     padding-bottom: $space-unit;
     color: $base-color-light;
     border-bottom: 1px solid $base-color-light;
     width: 100%;
     text-align: center;

   }

   hr {
     border-color: $base-color-light;
   }

   ul {
     li {
       width: 100%;
       display: flex;

       a {
         width: 100%;
         display: inline-block;
         float: left;
         position: relative;
         padding: $space-unit 0;
         color: #fff;

         &:before {
           content: '';
           width: 5px;
           height: 5px;
           background: $base-color;
           left: -10px;
           position: absolute;
           border-radius: 4px;
           top: 50%;
           transform: translateY(-50%);
           opacity: 0;

         }

         &:hover {
           color: $primary-color;

           &:before {
             opacity: 1;

           }
         }
       }
     }
   }

   #copy {
     width: 100%;
     background: #fff;
     padding: $space-unit 0;
     color: $base-color;

   }
 }
