//Header
//Header Submenu
//Menu. Header. first-bar, second-bar, third-bar.
header {
  background: $btn-color-base-light;
  z-index: $z-index-999;

  .header-store-options {
    a {
      font-size: $font-size-h1;

    }
  }

  .header-cart-badge {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    top: -16px;
    left: 50%;
    line-height: 20px;
    transform: translateX(-50%);
    background: $base-color;
    color: $primary-color-light;
    border-radius: 100%;

  }

  .header-cart {
    position: relative;

  }

  &.fixed-header {
    left: 0;
    top: 0;
    position: fixed;

    &.nav-up {
      top: -100%;
      transition: top 0.500s ease-in-out;

    }
    &.nav-down {
      top: 0%;
      transition: top 0.500s ease-in-out;
    }
  }

  section {
    background: #fff;

    &.first-bar {
      border-bottom: 1px solid $base-color;

    }
    &.second-bar {
      border-bottom: 1px solid $base-color;

    }
    &.third-bar {
      border-bottom: 1px solid $base-color-light;

    }
  }

  .header-search {
    .header-search-form {
      input[type="search"] {
        border-radius: 0;

      }

      button {
        background: $btn-color-primary;
        width: 32px;
        border-radius: 0;

        &:hover {
          color: #fff;
          background-color: $btn-color-primary-dark;

        }
      }
    }
  }

  .nav-link {
    &:before {
      content: "\f0dd";
      position: absolute;
      bottom: 0px;
      font-family: 'fontAwesome';
      text-align: center;
      width: 20px;
      height: 16px;
      font-size: $font-size-h4;
      display: none;
      background: none;
      left: 50%;
      transform: translateX(-50%);

    }
    &:hover {
      &:before {
        display: block;

      }
    }
  }

  .nav-menu {
    ul li {

      > a {
        z-index: $z-index-999;
        position: relative;
        padding: $space-unit;
        display: inline-block;
      }

      > .submenu-wrapper {
        padding-top: 36px;
        position: absolute;
        left: 0;
        background: none;
        top: 0;
        left: 50%;
        width: 100%;
        max-width: 1140px;
        transform: translateX(-50%);
        z-index: $z-index-99;
        display: none;

        > li {
          background: $primary-color-light;

        }
      }

      &:hover {
        > a {
          background: $base-color;
          color: #fff;

          &:before {
            display: block;

          }
        }
        > .submenu-wrapper {
          display: flex;

        }
      }
    }
  }
  //Sub menu header top
  .sub-menu {
    border: 1px solid $base-color;
    padding: $space-sm;
    background: #fff;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;

    ul {
      &[role="nav"] {
        li {
          ul {
            display: none;
          }
          &:hover {
            > ul {
              display: block;

            }
          }
          a {
            padding: $space-md;
            border-radius: $border-radius;
            display: inline-block;

            &:hover {
              background: $btn-color-base;

            }
          }
        }
      }
      li {
          width: 100%;
          display: inline-block;

        a {
          width: 100%;
        }
      }
    }
  }

  .column {
    display: inline-block;
    vertical-align: top;
  }
}
