html, body {
  font-family: $base-font-family;
  color: $base-color;
  font-size: $font-size-base;
  width: 100%;
}

html {
  overflow: auto;
}

body {
  overflow: hidden;
}

.container_general {
  @extend .row;
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

header,
section,
article,
figure,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
p,
main,
aside,
label,
input-group,
figcaption,
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="password"],
textarea,
button,
select,
footer {
  width: 100%;
  float: left;
  position: relative;

}
main[role="main"] {
  transition: .500s ease-in-out;

}
