$max-width: 270px;
$transition-mobile: .200s ease-in-out;
$transition-icon-mobile-open: 0.1s linear;
$transition-show-mobile: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
$transition-show-aside-mobile: all 800ms cubic-bezier(0.445, 0.050, 0.550, 0.950);

.show-menu-mobile-nav {
  overflow: hidden;
  body {
    overflow: hidden;
  }

  .mobile-aside  {
    opacity: 1;
    visibility: visible;

    #mobile-nav {
      transform: translate(0%);
      opacity: 1;
    }
  }

  main[role="main"] {
    transform: translateX($max-width);
    animation-delay: 0.75s;

  }
}

.mobile-aside {
  background: rgba(0, 0, 0, 0.90);
  display: flex;
  position: fixed;
  flex-direction: column;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: $z-index-9999;
  transition: $transition-show-aside-mobile;

  .mobile-link-nav-back {
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    right: 20px;
    font-size: 20px;
    color: #fff;

  }

  #mobile-nav {
    width: $max-width;
    background: #fff;
    transform: translateX(-100%);
    left: 0;
    top: 0;
    flex: 1 1 auto;
    overflow-y: auto;
    height: 100%;
    position: fixed;
    overflow: auto;
    opacity: 0.8;
    transition: $transition-show-mobile;
    animation-delay: 0.75s;
    //User informations. (Minha conta, Informações.)
    .mobile-nav-user-navigation {
      background: $base-color;
      li {
        a {
          border-bottom: 1px solid $primary-color-light;
          color: #fff;
          text-transform: uppercase;
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;

      li {
        width: 100%;
        float: left;
        margin-bottom: -1px;

        a {
          padding: $space-unit $space-sm;
          width: 100%;
          display: flex;
          align-items: center;
          font-weight: 100;
          text-decoration: none;

          .icon-mobile-arrow {
            transition: $transition-icon-mobile-open;
          }

          &.mobile-active-link > .icon-mobile-arrow {
            transform: rotate(90deg);
          }
        }
        //Items inside the parent item LI
        ul {
          background: $secondary-color-light;
          padding-left: $space-unit;
          transition: $transition-mobile;
          opacity: 0;
          visibility: hidden;
          margin-left: -10px;
          height: 0px;
          overflow: hidden;

          &.mobile-active-submenu {
            opacity: 1;
            margin-left: 0px;
            visibility: visible;
            height: auto;
            overflow: auto;
          }

          li {
            padding-left: $space-unit;
          }
        }
      }
    }
  }
}
