$btn-font-size: 12px;
$btn-radius: 6px;

$btn-color-base: #252525;
$btn-color-base-light: #fefe;
$btn-color-base-dark: #000;

$btn-color-primary: #eee;
$btn-color-primary-light: #fefe;
$btn-color-primary-dark: #000;

$btn-color-secondary: #fefe;
$btn-color-secondary-light: #fff;
$btn-color-secondary-dark: #000;
