//Black..
$base-color: #495057;
$base-color-dark: #000;
$base-color-light: #ACB5BD;
$base-color-extra-light: #DDE2E5;

//Azul..
$primary-color: #3e64ff;
$primary-color-dark: #2342C0;
$primary-color-light: #b2fcff;
$primary-color-extra-light: #ecfcff;

//Roxo.
$secondary-color: #8105d8;
$secondary-color-dark: #3b064d;
$secondary-color-light: #ed0cef;
$secondary-color-extra-light: #fe59d7;

//Link.
$link-color: #495057;
$link-color-hover: #2342C0;

$link-color-dark: #000;
$link-color-light: #eee;
$link-color-extra-light: #fff;

//Inactive Formating.
$inactive-color: #b5afaf;
$inactive-color-light: #eee;
$inactive-color-dark: #ccc;

//Destaks Formating.
$destak-color: #7AB11B;
$destak-color-ligth: #BEF461;
$destak-color-dark: #2B4105;

$border-color: #eee;

//Status Colors.
$error: red;
$success: green;
$waring: yellow;
$info: #2342C0;
