* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  list-style: none;
  text-decoration: none;
  border: none;
  white-space: normal;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

}

mark {
  background: none;
}

hr {
  background: none;
  border-top: 1px solid;
  float: left;
  width: 100%;
  position: relative;
}
