//Tipo de fontes
$base-font-family: 'Muli';
$primary-font-family: 'Open Sans';
$secondary-font-family: 'Open Sans';

//Tamanhos de fonte.
$font-size-base: 0.875rem; //14px
$font-size-h1: 2rem;   //32px
$font-size-h2: 1.875rem; //30px
$font-size-h3: 1.5rem; //24px
$font-size-h4: 1.25rem; //20px
$font-size-h5: 1.125rem; //18px

$font-size-sm: 0.75rem; //12px
$font-size-xsm: 0.625rem; //10px
