//Espaço interno do product-item.
$product-item-body_padding: 5px;

//Margin bottom figure.
$product-item-figure_margin-bottom: 10px;

//Figure Caption.
$product-item-figure_caption-font-size: 14px;
$product-item-figure_caption-color: #333;
$product-item-figure_caption-padding: 5px;
$product-item-figure_caption-background: #fff;

//Price
//sale
$price_sale-color: #000;
$price_sale-font-size: 12px;
$price_sale-background-color: #fff;
