.amount {
  input[type="number"],
  input[type="text"] {

    border: 1px solid $base-color;
    border-radius: $border-radius;
    font-size: $font-size-base;
    padding: $space-sm;
    color: $base-color-dark;
    font-weight: bold;
    text-align: center;

  }

  .btn-group {
    padding: 0 0 0 $space-sm;
    display: inline-block;

    button {
      text-align: center;
      border: 1px solid $base-color;
      padding: 0;
      width: 100%;
      height: 24px;
      background: $base-color-light;
      margin-bottom: $space-sm;

      &:last-child {
        margin-bottom: 0;

      }
    }
  }
}
