.btn, button {

  cursor: pointer;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1;
  border-radius: $border-radius;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: $font-size-base;
  padding: $space-unit;
  color: $base-color;
  word-break: break-word;
  white-space: normal;
  transition: .400s ease-in-out;

  &.btn-primary {
    color: #fff;
    background: $primary-color;

    &:hover {
      color: #fff;
      background: $primary-color-light;
    }
  }

  &.btn-buy {
    background: $primary-color;
    border-color: $secondary-color;

    &:hover {
      color: #fff;
      background: $primary-color-dark;
    }
  }
  &.btn-see {
    background: $secondary-color-dark;

    &:hover {
      background: $secondary-color-light;
    }
  }
  &.btn-checkout {

  }
}
