.banner-home-wrapper {
  .slick-arrow {
    position: absolute;
    z-index: $z-index-9;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    height: 40px;
    background: $base-color;

    &.slick-next {
      right: 0;
      width: 60px;

    }
    &.slick-prev {
      left: 0;
      width: 60px;

    }
  }
}

#banner-home {
  min-height: 100px;
  line-height: 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 0;

  figcaption {
    display: flex;
    line-height: normal;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .slick-dots {
    bottom: 0;
    li {
      button {
        &:before {
          font-size: 27px;
        }
      }
    }
  }
}
