  $transition: all .500s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  $cartWidth: 320px;

  .show-cart-preview {
    overflow: hidden;

    body {
      padding-right: 16px;

    }
    .cart-preview {
      transform: translateX(0);
      right: 0;

    }
    .cart-preview-wrapper {
      opacity: 1;
      visibility: visible;

    }
  }

  .cart-preview-wrapper {
    position: fixed;
    background: rgba(0, 0, 0, 0);
    z-index: $z-index-9999;
    width: 0;
    right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    // transition: $transition;
    opacity: 0;
    visibility: hidden;

  }

  .cart-preview {
    position: fixed;
    top: 0;
    background: #fff;
    transition: $transition;
    z-index: $z-index-9999;
    width: $cartWidth;
    border-left: 1px solid $base-color-extra-light;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    right: -26px;
    transform: translateX(300px);

    li {
      width: 100%;
    }

    .cart-preview-header {
      background: $base-color-extra-light;
      border-bottom: 1px solid $base-color-light;
      font-size: $font-size-h3;

    }

    .cart-preview-close {
      height: 90px;
      max-width: 30px;
      background: #fff;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: $font-size-sm;
      border-right: 1px solid $base-color-light;

    }

    .cart-preview-body {
      overflow: auto;
      height: 100%;

      li {
        padding: $space-unit;
        border-bottom: 1px solid $base-color-extra-light;
        transition: $transition;

        &:hover {
          background: $base-color-extra-light;

        }
      }
    }

    .cart-preview-footer {
      background: #fff;
      bottom: 0;
      border-top: 1px solid $base-color-extra-light;
      padding: $space-unit;
    }
  }
