input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
  color: $base-color;
  font-size: $font-size-base;
  border-radius: $border-radius;
  border: 1px solid $base-color;
  box-shadow: inset 0px 0px 100% #fff;
  &::placeholder {
    color: $base-color-light;
  }
}
