.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: $z-index-9999;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.9);
  visibility: hidden;
  opacity: 0;

  main {
    height: 100%;

    .wrapper {
      background: #fff;
      top: 50%;
      left: 50%;
      border: 1px solid $base-color;
      padding: $space-md;
      position: absolute;
      transform: translate(-50%, -50%);

    }

    .cep-response {
      width: 100%;
      font-size: $font-size-h5;
      font-weight: bold;
      height: 100%;

      .messages {
        border: 1px solid $base-color;
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: $space-xxs;

      }
    }

    .input-group {
      input {
        text-align: center;
        font-size: $font-size-h3;

      }
    }

    .btn-group {
      margin-top: -15px;

    }
  }
}
