$transition: all .150s cubic-bezier(0.000, 0.000, 0.580, 1.000);

.modal-add-cart {
  position: fixed;
  z-index: $z-index-9999;
  right: 30px;
  background: #fff;
  border: 1px solid $base-color-light;
  border-radius: 3px;
  padding: 0;
  line-height: 0;
  max-width: 280px;
  top: 0;
  transition: $transition;
  transform: translateY(-100%);

  &.is-show {
    transform: translateY(0%);
    top: 20px;
  }

  .content {
    line-height: normal;
    align-items: top;

    .header {
      font-weight: 600;
      font-size: $font-size-sm;
      color: $primary-color-dark;
    }

    .body {
      font-size: $font-size-base;
    }

    .footer {
      font-weight: bolder;
      font-size: $font-size-base;

    }
  }
}
