#newsletter {

  .modal-newsletter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $base-color-light;
    align-items: center;
    display: flex;
    z-index: $z-index-9999;
    padding: $space-unit;
    border-radius: $border-radius;

    &.is-show {
      display: flex;
    }
  }

  #newsletter-form {
    position: relative;

    .container_general {
      position: relative;

      .header {
        font-size: $font-size-h1;
        margin-bottom: $space-unit;
      }

      .body {
        font-size: $font-size-base;
        margin-bottom: $space-unit;
      }

      .footer {

      }
    }
  }
}
