.price-group {
  /* */
}

.price {
  display: inline-block;
  padding: 0 3px;
  vertical-align: middle;
  font-weight: normal;
  font-size: $font-size-base;
  color: $base-color;

  b {
    color: $destak-color;
  }

  &.sale {
    color: $inactive-color;
    b {
      color: $inactive-color;
      text-decoration: line-through;
    }
  }

  &.money {

  }
}
