.product-item {
  .product-item-body {
    border: 1px solid $base-color-dark;
    border-radius: $border-radius;
    position: relative;

    figure {
      img {
        width: 100%;
      }

      .loading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $secondary-color-light;
        z-index: $z-index-9;

      }
    }

    figcaption {
      min-height: 70px;
    }

    .btn-group {
      border-radius: $border-radius;
      background: #fff;
    }

    .group-ui-absolute {
      border-radius: $border-radius;
      background: #fff;
    }

    .mini-carousel {
      .slick-arrow {
        &.slick-next,
        &.slick-prev {
          background: $base-color-dark;

          &:hover {
            background: $base-color-light;

          }
        }
      }
    }
  }
  //States...
  &:hover {
    z-index: $z-index-99;

    .is-hidden {
      display: block;

    }
  }
}
