.attribute {
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   height: 40px;
   font-size: $font-size-base;
   margin: 0 $space-xs;
   max-width: 40px;
   position: relative;

   input {
     opacity: 0;
     position: relative;
   }

   input:checked + *[role="label"] {
     border-color: $secondary-color;
     color: $secondary-color;
   }

   *[role="label"] {
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
     cursor: pointer;
     display: flex;
     position: absolute;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     border: 1px solid $base-color;
     border-radius: $border-radius;

     a {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;

       &:hover {
          opacity: 0.5;
          background: #000;
          filter: blur(1px);
       }
     }
   }
}
