//Tamanhos de fonte.
.font-size-h1 {
  font-size: $font-size-h1;
}
.font-size-h2 {
  font-size: $font-size-h2;
}
.font-size-h3 {
  font-size: $font-size-h3;
}
.font-size-h4 {
  font-size: $font-size-h4;
}
.font-size-h5 {
  font-size: $font-size-h5;
}

//Tag Titles.
.h1, h1 {
  font-family: $base-font-family;
  font-size: $font-size-h1;
}

.h2, h2 {
  font-family: $secondary-font-family;
  font-size: $font-size-h2;
}

.h3, h3 {
  font-family: $primary-font-family;
  font-size: $font-size-h3;
}

.h4, h4 {
  font-family: $primary-font-family;
  font-size: $font-size-h4;
}

.h5, h5 {
  font-family: $primary-font-family;
  font-size: $font-size-h5;
}

p {
  font-family: $base-font-family;
  font-size: $font-size-base;
}

small {
  font-size: $font-size-xsm;
}

//Class titles.
.heading {
  text-align: center;
  overflow: hidden;

  mark {
    background: #fff;
    padding: $space-xs $space-unit;
    z-index: $z-index-9;
    position: relative;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    background: $base-color;
    height: 1px;
    transform: translateY(-50%);

  }
}
