
.tag-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: $z-index-9;
}

.tag {
  position: relative;
  border-radius: $border-radius;
  margin-bottom: $space-xs;
  color: $base-color;
  font-size: $font-size-sm;
  padding: 0;
  word-break: break-word;
  text-align: center;

  &.off {
    background: $primary-color;
  }
  &.new {
    background: $secondary-color-dark;
  }
  .campaign {
    background: "";
  }
}

.campaign-container {
  text-align: center;
}

.campaign {
  font-size: $font-size-sm;
  padding: $space-xs;

  .tag {
    background: $secondary-color-light;
    border-radius: $border-radius;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    display: flex;

  }
}
